<div>

	<h1>Producto en tiempo Real</h1>

	<div id='container'>
		<h2>Lista de Productos</h2>
		<div id='productsList'>
		</div>
	</div>

</div>


<script src='socket.io/socket.io.js'></script>
<script src='js/index.js'></script>

